/*css*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

html, body{
	height: 100%;
	overflow: hidden;
}

ul,ol,dl{
	list-style: none;
}

.main-container{
	height: 100%;
	position: relative;
	overflow: hidden;
}

/*加载中提示层*/
#loading-layer{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #F6C65F;
	z-index: 2;
	transition: all .5s ease-out;
}
.page-ready #loading-layer{
	transform: translate3d(0,-100%,0);
}

#page-list{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.page{
	position: relative;
	overflow: hidden;
}










